In [1]:
# Input data biodata
nama = input("Masukkan Nama: ")
umur = input("Masukkan Umur: ")
alamat = input("Masukkan Alamat: ")
pekerjaan = input("Masukkan Pekerjaan: ")

# Menampilkan biodata menggunakan format
print("\nBiodata:")
print("Nama: {}".format(nama))
print("Umur: {}".format(umur))
print("Alamat: {}".format(alamat))
print("Pekerjaan: {}".format(pekerjaan))

Masukkan Nama:  raffi
Masukkan Umur:  12
Masukkan Alamat:  baros
Masukkan Pekerjaan:  mangaka

Biodata:
Nama: raffi
Umur: 12
Alamat: baros
Pekerjaan: mangaka

In [11]:
kalimat = "UNIVERSITAS NUSA PUTRA SUKABUMI"

a = ' '.join(kalimat.split()[2:4])
print("a.", a.lower())

b = kalimat.replace("UNIVERSITAS", "NIVERSITAS").replace("NUSA", "NSA").replace("PUTRA", "PTRA").replace("SUKABUMI", "SKABMI")
print("b.", b)

c = ' '.join(kalimat.split()[4:] + kalimat.split()[2:4] + kalimat.split()[:2])
print("c.", c)

d = "".join(word[0] for word in kalimat.split())
print("d.", d)

e = ' '.join([kalimat.split()[0][2:], kalimat.split()[1][:3], kalimat.split()[2][2:]])
print("e.", e)

a. putra sukabumi
b. NIVERSITAS NSA PTRA SKABMI
c. PUTRA SUKABUMI UNIVERSITAS NUSA
d. UNPS
e. IVERSITAS NUS TRA