In [2]:
a = "raffi"
b = "atlantis"
c = 9
d = 99.9
e = True

print("Nama :",a)
print("alamat :",b)
print("umur :",c)
print("nilai :",d)
print("status :",e)

Nama : raffi
alamat : atlantis
umur : 9
nilai : 99.9
status : True

In [5]:
print("tipedata <a> :",type(a))
print("tipedata <b> :",type(b))
print("tipedata <c> :",type(c))
print("tipedata <d> :",type(d))
print("tipedata <e> :",type(e))

tipedata <a> : <class 'str'>
tipedata <b> : <class 'str'>
tipedata <c> : <class 'int'>
tipedata <d> : <class 'float'>
tipedata <e> : <class 'bool'>

strToInt = int(a)
strToFloat = float(a)
strToBool = bool(a)
print(strtoInt + 2,strtoFloat, strtoBool, sep="_" )

d = 500
b = 0b1010 
o = 0o377 
h = 0x77

print("nilai Desimal",d)
print("nilai Biner",b)
print("nilai Octal",o)
print("nilai Hexa",h)

print("nilai biner dari",d,";"bin(d))
print("nilai biner dari",d,";"oct(d))
print("nilai biner dari",d,";"hex(d))

In [10]:
c = "gotham"
length =len(c)
print(c[0])
print(length)
print(c[length-1])

g
6
m

In [32]:
c =["sukabumi","sukabayu","sukaraja","sukajanda"]
l = len(c)
print(c)
print(c[0])
print(c[l-1])
print(c[l-1] [0])
print(c[l-1] [len(c[l-1])-1])
c[0]="bali"
print(c)

n = ("raffa", "raffi", "yuda")
print(n)
print(n[-1])

sd = [
    {
    "n1" :"raffi",
    "u1" : 9,
    "a1" : {
        "jalan" : "jl kalimaya2",
        "no" : 129,
        "pro" :"jabar"
    },
    "Hobby" : ["penyuka wanita","penjilat politik"],
    "Married" : True,
},
 {
        "n1": "yuda",
        "u1": 45,
        "a1": {
            "jalan": "jl kebenaran",
            "no": 129,
            "pro": "jabar"
        },
        "Hobby": ["penyuka wanita", "gooning"],
        "Married": True,
    }
]


print(sd)
print(sd[0]["Hobby"][0])

['sukabumi', 'sukabayu', 'sukaraja', 'sukajanda']
sukabumi
sukajanda
s
a
['bali', 'sukabayu', 'sukaraja', 'sukajanda']
('raffa', 'raffi', 'yuda')
yuda
[{'n1': 'raffi', 'u1': 9, 'a1': {'jalan': 'jl kalimaya2', 'no': 129, 'pro': 'jabar'}, 'Hobby': ['penyuka wanita', 'penjilat politik'], 'Married': True}, {'n1': 'yuda', 'u1': 45, 'a1': {'jalan': 'jl kebenaran', 'no': 129, 'pro': 'jabar'}, 'Hobby': ['penyuka wanita', 'gooning'], 'Married': True}]
penyuka wanita

In [33]:
list1 = [["name","raffi"],["age","17"],["status",True]]
dls = dict(list1)
print(dls)

lt = [("name","Yuda"),("age","19"),("status",False)]
dts = dict(lt)
print(dts)

tl =(["name","raffa"],["age","19"],["status",False])
dtls = dict(tl)
print(dtls)

{'name': 'raffi', 'age': '17', 'status': True}
{'name': 'Yuda', 'age': '19', 'status': False}
{'name': 'raffa', 'age': '19', 'status': False}